
<!--
  Purpose: Present a form to the user to information about a moster to be added to the data base
-->
<div class="row">
  <div class="col">
      <form #monsterForm = "ngForm">
          <div class="container mb-5 border">
          <!-- Basic Info Identifier -->
          <div class="row">
            <div class="col-10">
                <h2>BASIC INFORMATION</h2>
            </div>
            <div class="col-2">
                * Required
            </div>
          </div>
          <div class="container">
              <small>
                  Start by entering basic details for your homebrew monster below. You will be able to 
                  provide more relevant details once it is created to take advantage of advanced search, filtering, and character features.
                  <hr>
              </small>
          </div>
          <!-- Monster Name -->
            <div class="form-group">
              <label for="MonsterName">Monster Name</label>
              <input [(ngModel)]="dummy.name" name="name" type="text" class="form-control" id="mName" aria-describedby="mNmae" placeholder="DoomBeast">
            </div>
            <!-- Monster Ability Scores -->
            <div class="form-group">
              <div class="row">
                <!-- Strength -->
                <div class="col-2">
                    <label for="strScore" class="">STR </label> 
                    <input [(ngModel)]="dummy.strenght" name="strength" type="number" class="form-control" id="strScore" placeholder="10">
                    <!-- Strenght saving throw proficiency -->
                    <div class="text-center">
                        <input type="checkbox" class="form-check-input" id="strSave">
                        <label class="form-check-label" for="strSave">Save</label>
                    </div>
                </div>
                <!-- Dexterity -->
                <div class="col-2">
                    <label for="dexScore" class="font-weight-bold">DEX</label>
                    <input [(ngModel)]="dummy.dexterity" name="dexterity" type="number" class="form-control" id="dexScore" placeholder="10">
                    <!-- Strenght saving throw proficiency -->
                    <div class="text-center">
                        <input type="checkbox" class="form-check-input" id="dexSave">
                        <label class="form-check-label" for="dexSave">Save</label>
                    </div>
                </div>
                <!-- Constitution -->
                <div class="col-2">
                    <label for="conScore" class="font-weight-bold">CON</label>
                    <input [(ngModel)]="dummy.constitution" name="constitution" type="number" class="form-control" id="conScore" placeholder="10">
                    <!-- Constitution saving throw proficiency -->
                    <div class="text-center">
                        <input type="checkbox" class="form-check-input" id="conSave">
                        <label class="form-check-label" for="conSave">Save</label>
                    </div>
                </div>
                <!-- Intelligence -->
                <div class="col-2">
                    <label for="intScore" class="font-weight-bold">INT </label>
                    <input [(ngModel)]="dummy.intelligence" name="intelligence" type="number" class="form-control" id="intScore" placeholder="10">
                    <!--  Intelligence saving throw proficiency -->
                    <div class="text-center">
                        <input type="checkbox" class="form-check-input" id="intSave">
                        <label class="form-check-label" for="intSave">Save</label>
                    </div>
                </div>
                <!-- Wisdom -->
                <div class="col-2">
                    <label for="wisScore" class="font-weight-bold">WIS</label>
                    <input [(ngModel)]="dummy.wisdom" name="wisdom" type="number" class="form-control" id="wisScore" placeholder="10">
                    <!-- Wisdom saving throw proficiency -->
                    <div class="text-center">
                        <input type="checkbox" class="form-check-input" id="wisSave">
                        <label class="form-check-label" for="wisSave">Save</label>
                    </div>
                </div>
                <!-- Charisma  -->
                <div class="col-2">
                    <label for="chrScore" class="font-weight-bold">CHR</label>
                    <input [(ngModel)]="dummy.charisma" name="charisma" type="number" class="form-control" id="chrScore" placeholder="10">
                    <!-- Charisma saving throw proficiency -->
                    <div class="text-center">
                        <input type="checkbox" class="form-check-input" id="chrSave">
                        <label class="form-check-label" for="chrSave">Save</label>
                    </div>
                </div>
              </div>
            </div>
            <!-- Basic combat stats -->
            <div class="form-group">
              <div class="row">
                <!-- Armor Class -->
                <div class="col-4">
                  <label for="armor_class" class="">Armor Class </label> 
                  <input [(ngModel)]="dummy.armor_class" name=armor_class type="number" class="form-control" id="armor_class" placeholder="10">
                </div>
                <!-- Hit Points -->
                <div class="col-4">
                  <label for="hit_points" class="">Hit Points </label> 
                  <input [(ngModel)]="dummy.hit_points" name = "hit_points" type="number" class="form-control" id="hit_points" placeholder="10">
                </div>
                <!-- Hit Dice -->
                <div class="col-4">
                  <label for="hit_dice" class="">Hit Dice</label> 
                 <input [(ngModel)]="dummy.hit_dice" name="hit_dice" type="number" class="form-control" id="hit_dice" placeholder="3d6">
                </div>
              </div>
            </div>
            <!-- CR and type -->
            <div class="form-group">
              <div class="row">
                <!-- CR -->
                <div class="col-4">
                    <label for="challenge_rating">Challenge Rating</label>
                    <select [(ngModel)]="dummy.challenge_rating.cr" name="challenge_rating" class="form-control" id="challenge_rating" >
                      <option *ngFor="let cr of crList" [value]="cr.cr">{{cr.cr | fractions}}</option>
                    </select>
                </div>
                <!-- Monster Type -->
                <div class="col-4">
                    <label for="creature_type">Creature Type</label>
                    <select [(ngModel)]="dummy.creature_type.id" name="creature_type" (ngModelChange)="getSubTypeList($event)" class="form-control" id="creature_type">
                      <option *ngFor="let type of typeList" [value]="type.id">{{type.type}}</option>
                    </select>
                </div>
                <!-- Monster Sub Type if any -->
                <div class="col-4">
                    <label for="subtypes">Creature Subtype</label>
                    <select class="form-control" id="subtypes">>
                      <option>-</option>
                      <option *ngFor="let sub of subTypeList">{{sub.type}}</option>
                    </select>
                </div>
              </div>
            </div>
            <!-- Alignment Size and Languages -->
            <div class="form-group">
              <div class="row">
                <!-- Alignment -->
                <div class="col-4">
                    <label for="alignment">Alignment</label>
                    <select class="form-control" id="alignment">
                      <option *ngFor="let alignment of alignmentList">{{alignment.alignment}}</option>
                    </select>
                </div>
                <!-- Size -->
                <div class="col-4">
                    <label for="creature_size">Creature Size</label>
                    <select class="form-control" id="creature_size">
                      <option *ngFor="let size of sizeList">{{size.creature_size}}</option>
                    </select>
                </div>
                <!-- Languages -->
                <div class="col-4">
                    <label for="languages">Languages</label>
                    <select class="form-control" id="languages">
                      <option *ngFor="let lang of languageList">{{lang.name}}</option>
                    </select>
                </div>
              </div>
            </div>
            <!-- Damage and Condtion vulnerability, resistance, and immunity  -->
            <div class="form-group">
                <div class="row">
                  <!-- Damage Vulnerability -->
                  <div class="col-3">
                      <label for="damageVulnerability">Damage Vulnerability</label>
                      <select class="form-control" id="damageVulnerability">
                        <option *ngFor="let vul of damageTypeList">{{vul.name}}</option>
                      </select>
                  </div>
                  <!-- Damage Resistance -->
                  <div class="col-3">
                      <label for="damageResistance">Damage Resistance</label>
                      <select class="form-control" id="damageResistance">
                        <option *ngFor="let res of damageTypeList">{{res.name}}</option>
                      </select>
                  </div>
                  <!-- Damage Immunity -->
                  <div class="col-3">
                      <label for="damageImmunity">Damage Immunity</label>
                      <select class="form-control" id="damageImmunity">
                        <option *ngFor="let imm of damageTypeList">{{imm.name}}</option>
                      </select>
                  </div>
                  <!-- Condition Immunity -->
                  <div class="col-3">
                      <label for="conditionImmunity">Condition Immunity</label>
                      <select class="form-control" id="conditionImmunity">
                        <option *ngFor="let con of conditionList">{{con.name}}</option>
                      </select>
                  </div>
                </div>
              </div>
              <!-- Speed and Senses -->
              <div class="form-group">
                <div class="row">
                  <!-- Speeds -->
                  <div class="col">
                      <label for="speeds">Speeds</label>
                      <select class="form-control" id="speeds">
                        <option *ngFor="let speed of speedList">{{speed.speed}}</option>
                      </select>
                  </div>
                  <div class="col">
                      <label for="senses">Senses</label>
                      <select class="form-control" id="senses">
                        <option *ngFor="let sense of senseList">{{sense.sense}}</option>
                      </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
            <!-- Traits, Actions, and Skills -->
            <div class="row">
              <div class="col-9">
                 <!-- Traits -->
            <div class="row">
                <div class="col">
                  <h2>TRAITS</h2> 
                </div>
                <div class="col-2">
                    <button class="btn btn-dark btn-block btn-sm" (click)="addTrait()"><i class="fas fa-plus-square"></i></button>
                </div>
              </div>
              <div class="container">
                <hr>
              </div>
              <div *ngFor="let trait of traitsComponents; let i = index">
                <app-trait-card [traitNo]="i" (removeTrait)="removeTrait($event)"></app-trait-card>
              </div>
              <!-- Actions -->
              <div class="row">
                  <div class="col">
                    <h2>ACTIONS</h2>
                  </div>
                  <div class="col-2">
                      <button class="btn btn-dark btn-block btn-sm" (click)="addAction()"><i class="fas fa-plus-square"></i></button>
                  </div>
                </div>
                <div class="container">
                  <hr>
                </div>
                <div *ngFor="let action of actionsComponets; let i = index">
                  <app-action-card [actionNo]="i" (removeAction)="removeAction($event)"></app-action-card>
                </div>
              <!-- Recations -->
              <div class="row">
                  <div class="col">
                    <h2>REACTIONS</h2>
                  </div>
                  <div class="col-2">
                      <button class="btn btn-dark btn-block btn-sm"(click)="addReaction()"><i class="fas fa-plus-square"></i></button>
                  </div>
                </div>
                <div class="container">
                  <hr>
                </div>
                <div *ngFor="let action of reactionsComponents; let i = index">
                  <app-reaction-card [reactionNo]="i" (removeReaction)="removeReaction($event)"></app-reaction-card>
                </div>
              <!-- Legendary Actions -->
              <div class="row">
                  <div class="col">
                    <h2>LEGENDARY ACTIONS</h2>
                  </div>
                  <div class="col-2">
                      <button class="btn btn-dark btn-block btn-sm" (click)="addLegendary()"><i class="fas fa-plus-square"></i></button>
                  </div>
                </div>
                <div class="container">
                  <hr>
                </div>
                <div *ngFor="let action of legendaryComponets; let i = index">
                  <app-legendary-card [legendaryNo]="i" (removeLegendary)="removeLegendary($event)"></app-legendary-card>
                </div>
              </div>
              <!-- Skills -->
              <div class="col-3 border">
                SKILLS
              </div>
            </div>
           </div>
            <p></p>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
  </div>
  <div class="col">
      {{monsterForm.value | json}}
      <hr>
      {{dummy | json}}
  </div>
</div>
