<form>
    <div class="form-group">
      <label for="MonsterName">Monster Name</label>
      <input type="text" class="form-control" id="mName" aria-describedby="mNmae" placeholder="DoomBeast">
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-2">
            <label for="strScore" class="">STR </label> 
            <input type="number" class="form-control" id="strScore" placeholder="10">
            <div class="text-center">
                <input type="checkbox" class="form-check-input" id="strSave">
                <label class="form-check-label" for="strSave">Save</label>
            </div>
            
        </div>
        <div class="col-2">
            <label for="dexScore" class="font-weight-bold">DEX</label>
            <input type="number" class="form-control" id="dexScore" placeholder="10">
            <div class="text-center">
                <input type="checkbox" class="form-check-input" id="dexSave">
                <label class="form-check-label" for="dexSave">Save</label>
            </div>
        </div>
        <div class="col-2">
            <label for="conScore" class="font-weight-bold">CON</label>
            <input type="number" class="form-control" id="conScore" placeholder="10">
            <div class="text-center">
                <input type="checkbox" class="form-check-input" id="conSave">
                <label class="form-check-label" for="conSave">Save</label>
            </div>
        </div>
        <div class="col-2">
            <label for="intScore" class="font-weight-bold">INT </label>
            <input type="number" class="form-control" id="intScore" placeholder="10">
            <div class="text-center">
                <input type="checkbox" class="form-check-input" id="intSave">
                <label class="form-check-label" for="intSave">Save</label>
            </div>
        </div>
        <div class="col-2">
            <label for="wisScore" class="font-weight-bold">WIS</label>
            <input type="number" class="form-control" id="wisScore" placeholder="10">
            <div class="text-center">
                <input type="checkbox" class="form-check-input" id="wisSave">
                <label class="form-check-label" for="wisSave">Save</label>
            </div>
        </div>
        <div class="col-2">
            <label for="chrScore" class="font-weight-bold">CHR</label>
            <input type="number" class="form-control" id="chrScore" placeholder="10">
            <div class="text-center">
                <input type="checkbox" class="form-check-input" id="chrSave">
                <label class="form-check-label" for="chrSave">Save</label>
            </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-4">
          <label for="armor_class" class="">Armor Class </label> 
          <input type="number" class="form-control" id="armor_class" placeholder="10">
        </div>
        <div class="col-4">
          <label for="hit_points" class="">Hit Points </label> 
          <input type="number" class="form-control" id="hit_points" placeholder="10">
        </div>
        <div class="col-4">
          <label for="hit_dice" class="">Hit Dice</label> 
         <input type="number" class="form-control" id="hit_dice" placeholder="3d6">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>