<div class="row">
    <div class="col-4 text-center">
      <i class="fas fa-eye"></i>
      <small class="form-text" [class.text-warning]="overMaxPP" [ngbPopover]=popContentPp [autoClose]="'outside'" placement="right"
        (click)="openPpPopover(pp,combatant)" triggers="manual" #pp="ngbPopover">
        {{combatant.combatpp}} 
      </small>
    </div>
    <div class="col-4 text-center">
      <i class="fas fa-shield-alt"></i>
      <small class="form-text" [class.text-warning]="overMaxAC" [ngbPopover]=popContentAc [autoClose]="'outside'" placement="right"
        (click)="openAcPopover(ac,combatant)" triggers="manual" #ac="ngbPopover">
        {{combatant.combatac}}
      </small>
    </div>
    <div class="col-4 text-center">
      <i class="fas fa-heart"></i>
      <small class="form-text" [class.text-warning]="overMaxHP" [ngbPopover]=popContentHp [autoClose]="'outside'" placement="right"
        (click)="openHpPopover(hp,combatant)" triggers="manual" #hp="ngbPopover">
        {{combatant.combathp}}
      </small>
    </div>
  </div>

  <!-- popover contianer for adjusting hp -->
<ng-template #popContentHp>
    <input type="number" name="hpValue" min="0" value="{{adjustingHP}}"
      (keydown.enter)="setCombatantHP(newHP.value)" #newHP>
  </ng-template>
  
  <!-- popover contianer for adjusting hp -->
  <ng-template #popContentAc>
    <input type="number" name="acValue" value="{{adjustingAC}}"
      (keydown.enter)="setCombatantAC(newAC.value)" #newAC>
  </ng-template>
  
  <!-- popover container for adjusting passive perception -->
  <ng-template #popContentPp>
    <input type="number" name="ppValue" value="{{adjustingPP}}"
      (keydown.enter)="setCombatantPP(newPP.value)" #newPP>
  </ng-template>
