<div class="form-group">
  <div class="row">
    <div class="col">
        <label for="action_name">Name</label>
        <input type="text" class="form-control" id="action_name" aria-describedby="action_name" placeholder="Claw">
    </div>
    <div class="col-2">
        <label for="attackBonus">Attack Bonus</label>
        <input type="text" class="form-control" id="attackBonus" aria-describedby="attackBonus" placeholder="5">
    </div>
    <div class="col-2">
        <label for="damageDice">Damage Dice</label>
        <input type="text" class="form-control" id="damageDice" aria-describedby="damageDice" placeholder="2d6">
    </div>
    <div class="col-2">
        <label for="damageBonus">Damage Bonus</label>
        <input type="text" class="form-control" id="damageBonus" aria-describedby="damageBonus" placeholder="5">
    </div>
  </div>
  <div class="row">
    <div class="col">
        <label for="action_description">Description</label>
        <textarea class="form-control" id="action_description" rows="3"></textarea>
    </div>
  </div>
</div>
