<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <img src="../../../assets/rpgSuiteLogo_medium.png" height="400" width="400">
      </div>
      <div class=" col-7">
        <h1 class="display-4">RPG Suite</h1>
        <p class="lead">Welcome, to a place that does rpg things.</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum nunc nec arcu blandit dignissim. In sagittis viverra velit nec euismod. Phasellus consequat sem metus, eu iaculis neque tincidunt vel. Mauris placerat tristique metus, sed rhoncus risus tempor ac. Praesent quis diam nunc. Phasellus nulla ipsum, porta eleifend lobortis quis, volutpat quis magna. Mauris eget dictum est, in feugiat nisi. Suspendisse rutrum ac massa et porttitor. Suspendisse vehicula malesuada nunc, eget ultricies sapien interdum et. Fusce a placerat erat, at maximus tellus.
        </p>
      </div>
    </div>
    <app-add-monster></app-add-monster>
  </div>
</div>

