<!--  -->

<div class="form-group">
    <div class="row">
      <div class="col">
          <label for="legendary_name">Name</label>
          <input type="text" class="form-control" id="legendary_name" aria-describedby="legendary_name" placeholder="Claw">
      </div>
      <div class="col-2">
          <label for="legendary_cost">Attack Bonus</label>
          <input type="text" class="form-control" id="legendary_cost" aria-describedby="legendary_cost" placeholder="5">
      </div>
    </div>
    <div class="row">
      <div class="col">
          <label for="legendary_description">Description</label>
          <textarea class="form-control" id="legendary_description" rows="3"></textarea>
      </div>
    </div>
  </div>
  
