<!--  -->
<!-- <div ngModelGroup="legendary"> -->
<div class="form-group">
    <div class="row">
      <div class="col">
          <label for="legendary_name{{legendaryNo}}">Name</label>
          <input type="text" class="form-control" id="legendary_name{{legendaryNo}}" aria-describedby="legendary_name" placeholder="Claw">
      </div>
      <div class="col-2">
          <label for="legendary_cost{{legendaryNo}}">Point Cost</label>
          <input type="text" class="form-control" id="legendary_cost{{legendaryNo}}" aria-describedby="legendary_cost" placeholder="5">
      </div>
      <div class="col-1">
          <button class="btn btn-dark btn-block btn-sm" (click)="removeMe()"><i class="fas fa-minus-square"></i></button>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <label for="legendary_description{{legendaryNo}}">Description</label>
          <textarea class="form-control" id="legendary_description{{legendaryNo}}" rows="3"></textarea>
      </div>
    </div>
  </div>
<!-- </div> -->
